.gradle
/local.properties
/.idea/workspace.xml
/.idea/dictionaries/
/.idea/libraries
.DS_Store
/build
/captures
/app/build
app/src/main/assets/focus.properties
focus-mobile/src/main/res/values/google_maps_api.xml
/focus-mobile/build
focus-mobile/src/main/assets/focus.properties
*~
.navigation
