<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="eu.focusnet.app"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- FIXME review permissions. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <supports-screens android:smallScreens="false"
                      android:normalScreens="false"
                      android:largeScreens="true"
                      android:xlargeScreens="true"
                      android:requiresSmallestWidthDp="600" />

    <application
        android:name="FocusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FocusTheme"
        android:fullBackupContent="false">
        <activity
            android:name=".ui.activity.EntryPointActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.activity.DemoUseCaseSelectionActivity"
            android:screenOrientation="landscape"/>(
        <activity
            android:name=".ui.activity.ProjectsListingActivity"
            android:label="@string/project_listing_title"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.activity.ProjectActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.ProjectsListingActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.activity.PageActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.ProjectActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.activity.ImageActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="org.acra.dialog.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:process=":error_report"
            android:theme="@android:style/Theme.Holo.Dialog"
            tools:replace="android:theme"/>

        <service
            android:name="org.acra.sender.SenderService"
            android:exported="false"
            android:process=":acra"/>

        <service android:name=".service.CronService"/>

    </application>

</manifest>
