<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="eu.focusnet.app"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- FIXME review permissions. -->

    <!-- Permissions. FIXME we do not follow the new permissions workflow for Android SDK >=23 ) -->
    <!-- Locale modification -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <!-- Network access -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Localization -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false"
        android:xlargeScreens="true"/>

    <application
        android:name=".ui.FocusApplication"
        android:allowBackup="false"
        android:largeHeap="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FocusTheme">
        <activity
            android:name="eu.focusnet.app.ui.activity.EntryPointActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="eu.focusnet.app.ui.activity.LoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="eu.focusnet.app.ui.activity.DemoUseCaseSelectionActivity"
            android:screenOrientation="landscape"/>(
        <activity
            android:name="eu.focusnet.app.ui.activity.ProjectsListingActivity"
            android:label="@string/project_listing_title"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"/>
        <activity
            android:name="eu.focusnet.app.ui.activity.ProjectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"/>
        <activity
            android:name="eu.focusnet.app.ui.activity.ProjectInProjectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"/>
        <activity
            android:name="eu.focusnet.app.ui.activity.PageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="eu.focusnet.app.ui.activity.ImageActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="org.acra.dialog.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:process=":error_report"
            android:theme="@android:style/Theme.Holo.Dialog"
            tools:replace="android:theme"/>

        <service
            android:name="org.acra.sender.SenderService"
            android:exported="false"
            android:process=":acra"/>

        <service android:name="eu.focusnet.app.controller.CronService"/>

    </application>

</manifest>
